.footer {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: #fff;
  height: 6rem;
  align-items: center;

  &-text {
    margin: 1rem;
    font-size: "1.3rem";
    display: block;
    color: #7d7d7d
  }

  &-nickname-link {
    color: #7d7d7d;
  }
}