.h-list {
  &-image {
    display: block;
    object-fit: cover;
  }

  &-title {
    word-break: break-all;
    font-size: 10px;
    font-weight: bold;
  }

  &-desc {
    word-break: break-all;
  }
}

.h-list-container {
  border: 1px solid #333;
  padding: 20px;
  margin: 40px;
}