.h-list {
  &-image {
    display: block;
    object-fit: cover;
  }

  &-title {
    word-break: break-all;
    font-size: 10px;
    font-weight: bold;
  }

  &-desc {
    word-break: break-all;
  }
}