.h-list-grid-container {
  padding: 20px;
  margin: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  // display: flex;
  // justify-content: center;
  // padding: 20px;
}