@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap");

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce {
  text-align: center;
  width: 30rem;
  height: 15rem;
  overflow: hidden;
  color: #fff;

  &-title {
    font-size: 2rem;
    font-family: 'Cinzel', serif;

    &-container {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &-word {
    font-family: 'Cinzel', serif;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}