.masthead {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes moveIntroduce {
  0% {
    transform: translateX(0rem);
  }

  32% {
    transform: translateX(0rem);
  }

  33% {
    transform: translateX(-30rem);
  }

  65% {
    transform: translateX(-30rem);
  }

  66% {
    transform: translateX(-60rem);
  }

  98% {
    transform: translateX(-60rem);
  }

  99% {
    transform: translateX(0rem);
  }
}

.introduce {
  width: 30rem;
  height: 15rem;
  overflow: hidden;
  border: 1px solid #03396c;
  color: #03396c;

  &-container {
    animation: moveIntroduce 7s linear infinite 5s;
    flex-wrap: nowrap;
    display: flex;
    width: 90rem;
  }

  &-text {
    width: 30rem;
    height: 15rem;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}